Django==5.2
djangorestframework==3.17.1
django-cors-headers==4.9.0
gunicorn==23.0.0
whitenoise==6.9.0
joblib==1.4.2
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
xgboost==3.1.2
category_encoders==2.9.0
